@import url("fonts.css");
html {
    overflow: hidden;
    font-family: FayonGrandeProSemi;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.grootScherm, .touchScreen {
    width: 1920px;
    height: 1080px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    position: relative;
}
.touchScreen {
    flex-direction: column;
}

#languageList {
    display: flex;
    width: 1500px;
    justify-content: space-around;
    list-style-type: none;
    font-size: 40px;
}

#touchScreenTop {
    display: grid; /* Enable grid layout */
    grid-template-columns: 1fr 1fr 1fr; /* Divide into 3 equal columns */
    width: 100%; /* Full width of the page */
    height: 500px; /* Adjust height as needed */
    gap: 10px; /* Optional: Space between sections */

    font-size: 25px;
}

#touchScreenTop > div > p {
    width: 50%;
}

#explanation {
    justify-content: end;
}

#dragBox {
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    margin-bottom: 20px;
    grid-column-start: 2;
}

#scoreBox {
    text-align: center;
}

#dragBox img {
    width: 350px;
    height: 350px;
    cursor: grab;
}

.timeline {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: relative;
    width: 1880px;
    overflow: hidden;
    height: 200px;
    border: 2px solid #888;
}

.timeline img {
    width: 155px;
    height: 155px;
    margin: 0 15px;
}

/* Fade-in effect */
.fade-in {
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
}

/* Keyframes for fade-in */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.feedback-container {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    gap: 5px;
}

.feedback-dot {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px;
    background-color: #bfc6be;
}

.groot-scherm-img {
    width: auto;
    height: 80%;
}

.drag-box-img {
    max-width: 100%;
    height: auto;
    cursor: grab;
}

#home {
    height: 60px;
    position: absolute;
    left: 20px;
    bottom: 20px;
}